@CHARSET "UTF-8";

/* HOME BANNER */

.banner-footer-wrapper,.page-section-limiter,.my-files-container{
	max-width: 1200px;
	margin: 0px auto;
	width: 100%;
}
.banner-video-container, .video-container {
	position: relative;
	text-align: center;
}

.banner-video-block {
	width: 100%;
	display: block;
	text-align: center;
	overflow-x: hidden
}

#banner-video {
	width: 100%;
	max-width: 1200px;
}

.how-it-works-video-btn {
	background-image: url(../../images/playButton.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 3.125rem;
	height: 3.125rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	padding: 0;
	cursor: pointer;
	z-index: 10;
}

.how-it-works-video-btn:focus {
	outline: none;
}

.banner-video-footer {
	background-color: #2296f3;
	box-shadow: 0 0.5px 0.0625rem 0 rgba(0, 0, 0, 0.3);
	padding: 0.9375rem 1.25rem;
	margin-top: -0.1875rem;
}

.banner-footer-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.6875rem;
	color: #ffffff;
	width: 90%;
	float: left;
}

.banner-footer-indicator {
	float: right;
}

.visit-calendar-wrapper {
	border-radius: 2.5rem;
	background-color: #ffffff;
}

.visit-calendar-wrapper>a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875rem;
	color: #2296f3;
	padding: 0.875rem 1.5rem;
}

.visit-calendar-wrapper img {
	margin-right: 0.3125rem;
	vertical-align: middle;
}

/* PAGE CONTENT */
.page-section-wrapper {
	padding: 2.5rem 0;
}

.banner-video-footer span, .page-section-wrapper span, .visit-calendar-wrapper>a
	{
	display: block;
}

.textual-page-section-wrapper>span, .know-more-link-wrapper a,.know-more-link-wrapper span {
	font-size: 0.75rem;
}

.page-section-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: #54a4eb;
}

.page-section-subheader {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3b3b3b;
	font-weight: bold;
	margin: 1.563rem 0 0.75rem;
}

.page-section-text {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3b3b3b;
}

.know-more-link-wrapper {
	margin: 1.563rem 0 2.5rem;
}

.know-more-link-wrapper a,.know-more-link-wrapper span {
	font-family: 'Source Sans Pro', sans-serif;
	color: #54a4eb;
}

.know-more-link-wrapper img {
	margin-left: 0.625rem;
	width: 0.75rem;
}

.video-container video {
	width: 100%;
}

.how-it-works-video-overlay {
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	left: 0;
	right:0;
	height: 100%;
	z-index: 100;
}

.extra-section {
	background-color: #f6f6f6;
}

.extra-section .page-section-limiter {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column-reverse;
}

.page-image-container {
	text-align: center;
}

.page-image-container>img {
	width: auto;
}

.hide-play-button, .banner-video-footer span.visit-calendar-wrapper {
	display: none;
}

.clear-div {
	clear: both;
}

.textual-page-section-wrapper, .video-container, .page-image-container {
	padding: 0 1.25rem;
}

/* OVERLAY */
.popup-overlay {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0.5px 0.0625rem 0 rgba(0, 0, 0, 0.3);
	position: fixed;
	overflow: hidden;
	left: 0;
	right: 0;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
}

.open-popup-overlay {
	visibility: visible;
	opacity: 1;
	top: 0;
	bottom: 0;
}

.popup-overlay.hide-popup-overaly {
	visibility: hidden;
	opacity: 0;
}
.nonscrollable-body  {
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	background-color: #ffffff;
	border-top: 0.0625rem solid #2f7dc2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: horizontal;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	align-items: center;
}

.open-popup-overlay>.popup {
	top: 0;
	bottom: 0;
}
.popup-logo {
	margin-top: 4.063rem;
	width: 12.06rem;
}

.login-input-block {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	padding: 0 1.875rem;
}

.login-credential {
	height: 2.5rem;
	border: none;
	border-bottom: 0.9px solid #c3c3c3;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8125rem;
	color: #3b3b3b;
	margin-bottom: 0.75rem;
	-webkit-appearance: none;
}

.login-credential:focus {
	outline: none;
}

.login-credential::-webkit-input-placeholder {
	opacity: 0.5;
}

.login-credential:-moz-placeholder { /* Firefox 18- */
	opacity: 0.5;
}

.login-credential::-moz-placeholder { /* Firefox 19+ */
	opacity: 0.5;
}

.login-credential:-ms-input-placeholder {
	opacity: 0.5;
}

.pre-login-block {
	margin-bottom: 2.24rem;
	padding: 0 1.875rem;
}

.pre-login-block>span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	line-height: 1.4;
	text-align: center;
	color: #54a4eb;
	float: right;
}

.pre-login-block>span:first-child {
	float: left;
}

#signup_section .pre-login-block{
	text-align: center;
}

#signup_section .pre-login-block>span:first-child {
	float: none;
}

.login-button {
	width: 100%;
	padding: 0.875rem 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: bold;
	color: #ffffff;
	background-color: #54a4eb;
	border: none;
}

.fb-login-button {
	background-color: #39579a;
	text-align: center;
	display: block;
	margin-top: -0.125rem;
}

.login-form, .popup-body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.login-button-block {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
}

.popup-header {
	width: 100%;
	text-align: center;
	padding: 1.25rem 0;
	box-shadow: 0 0.5px 0.0625rem 0 rgba(0, 0, 0, 0.3);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.popup-heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.9375rem;
	font-weight: bold;
	color: #2f7dc2;
	width: 100%;
}

.popup-close {
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
}


.popup-close>img{
	width: 0.75rem;
}

.login-form.submit-form .login-input-block {
	justify-content: center;
}

#add_text_section .login-input-block {
	justify-content: flex-start;
	margin-top: 1.5rem;
}

/* PAGE CONTENT IN UPLOAD FILES */
.generated-file-container,.slot-dropdown select, .image-file {
	border-radius: 2.5px;
	background-color: #f7f7f7;
	border: 0.5px solid #979797;
	padding: 0.875rem;
	margin-top: 0.625rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8125rem;
	color: #2f7dc2;
	display: none;
}

.image-delete{
	float: right;
}

.generated-added-text{
	margin-bottom: 1.563rem;
}

.slot-dropdown{
	display: block;
    width: 32%;
    float: right;
}

.slot-dropdown select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none;
	padding: 0.9375rem;
	width: 100%;
	margin-top: 0;
	background-image: url(../../images/dropdownIcon.png);
	background-repeat: no-repeat;
	background-position: right 0.9375rem center;
}

.slot-dropdown select:focus{
	outline: none;
}

.image-file-container{
    justify-content: space-between;
    display: none;
}

.image-file {
	padding: 0.9375rem;
	width: 62%;
	margin-top: 0;
	margin-right: 0.625rem;
}

.show-generated-file-container, .generated-added-text, .slot-dropdown select, .image-file{
	display: block;
}

.show-image-file-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

span.upload_files_section.open-popup-link.hide-choose-file{
	display: none;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable=true] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8125rem;
	color: #6E6E6E;
}

div[contenteditable=true]:focus {
	outline: none;
}

#upload_files_section.popup-overlay {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: horizontal;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	align-items: center;
}

#upload_files_section .popup {
	position: static;
	border-radius: 0.3125rem;
	border: none;
	box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.2);
	margin: auto;
    padding: 1.25rem 0.9375rem 1.25rem;
	align-items: flex-start;
	-webkit-box-pack: center;
	-moz-box-pack: flex-start;
	box-pack: flex-start;
	justify-content: flex-start;
	-webkit-box-align: flex-start;
	-moz-box-align: flex-start;
	box-align: flex-start;
	width: 80%;
    max-width: 355px;
}

#upload_files_section .popup a,#upload_files_section .popup>span{
	color: #2f7dc2;
	font-size: 0.8125rem;
	font-family: 'Source Sans Pro', sans-serif;
}

#upload_files_section .popup hr {
	border-bottom-color: #979797;
	border-bottom-width: 0.5px;
	width: 100%;
	border-top-width: 0;
	border-left-width: 0.5px;
	border-right-width: 0.5px;
	border-left-color: #979797;
	border-right-color: #979797;
	margin: 1.063rem 0;
}

.open-popup-link{
	cursor: pointer;
}

#my_file_input {
	display: none;
}

/* MY FILES IMAGE GRID */
#gallery .thumbnail {
	font-size: 1rem;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 0.0625rem;
	width: calc(25% - 0.125rem);
	margin-right: 0.0625rem;
	position: relative;
	z-index: 10000;
}

#gallery .thumbnail.add-new-item {
	background-color: #54a4eb;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	color: #ffffff;
	margin-right: -0.1875rem;
}

#gallery .thumbnail:nth-child(5){
	margin-top: -0.1875rem;
}

#gallery .thumbnail.add-new-item>.add-new-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
}

#gallery .thumbnail:before {
	content: "";
	display: block;
	padding-top: 100%;
}

#gallery .thumbnail.add-new-item:before {
	content: "";
	display: block;
	padding-top: 100%
}

#gallery .thumbnail>img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.logged-in-subheader {
	display: none;
}

@media handheld , only screen and (min-width: 320px) and (max-width: 560px){
	.page-image-container>img,.banner-poster {
		width: 100%;
	}
}
/* MEDIA QUERY FOR TABLET AND DESKTOP */
@media handheld , only screen and (min-width: 768px) {
	
	/* BANNER */
	.banner-video-block {
		overflow-x: auto
	}
	.banner-video-block>img {
		width: 100%;
		max-height: initial;
	}
	.banner-footer-text {
		width: 70%;
		font-size: 1rem;
	}
	.banner-video-footer span.visit-calendar-wrapper {
		display: block;
	}
	.banner-footer-indicator>a {
		display: none;
	}
	/* PAGE CONTENT */
	.textual-page-section-wrapper, .page-image-container {
		float: left;
	}
	.textual-page-section-wrapper, .extra-section .textual-page-section-wrapper {
		width: 40%;
	}
	.textual-page-section-wrapper>span.page-section-header, .page-section-subheader,
		.page-section-text {
		font-size: 0.875rem;
		color: #3b3b3b;
	}
	.textual-page-section-wrapper>span.page-section-subheader {
		font-size: 1.125rem;
		margin: 1.188rem 0 0.875rem;
	}
	.textual-page-section-wrapper>span.page-section-text, .know-more-link-wrapper a,.know-more-link-wrapper span
		{
		font-size: 1rem;
	}
	.know-more-link-wrapper {
		margin: 0.8125rem 0 0px;
	}
	.know-more-link-wrapper img {
		width: auto
	}
	.video-container, .extra-section .textual-page-section-wrapper {
		float: right;
	}
	.video-container, .page-image-container {
		width: 60%;
	}
	.how-it-works-video-btn {
		width: 5.125rem;
		height: 5.125rem;
	}
	.page-image-container {
		text-align: left;
	}
	.page-section-limiter,.extra-section .page-section-limiter {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	/* OVERLAY */
	.popup-overlay {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: horizontal;
		flex-direction: column;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		box-align: center;
		align-items: center;
	}
	.popup {
		position: static;
		border-radius: 0.3125rem;
		border: none;
		box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.2);
		margin: auto;
		padding: 0 3.125rem;
		width: 30%;
		max-width: 14.38rem;
	}
	.popup-logo {
		margin-top: 1.688rem;
	}
	.login-form, .popup-body {
		margin-top: 3.125rem;
	}
	.login-input-block {
		padding: 0;
	}
	.login-credential {
		font-size: 0.75rem;
		margin-bottom: 0.75rem;
		border-width: 0.5px;
		margin-bottom: 0.0625rem;
	}
	.login-button-block {
		padding-bottom: 3.125rem;
		position: relative;
		margin-top: 2.188rem;
		display: table;
		width: 100%;
	}
	.pre-login-block {
		margin-bottom: 1rem;
		text-align: center;
		display: table-header-group;
	}
	.pre-login-block>span {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 1.188rem;
		font-size: 0.75rem;
	}
	.pre-login-block>span:first-child {
		position: static;
		float: none;
	}
	#signup_section .pre-login-block {
		display: table-footer-group;
	}
	.login-button {
		border-radius: 3.125rem;
		padding: 0.75rem 0;
		font-size: 0.75rem;
		margin-top: 1rem;
	}
	.fb-login-button {
		margin-bottom: 0.4375rem;
	}
	/* IMAGE GRIID IN MY FILES PAGE */
	#gallery .thumbnail {
		width: calc(10% - 0.125rem);
		margin-bottom: 0.1875rem;
		margin-right: 0.1875rem;
	}
	#gallery .thumbnail:nth-child(11){
	    margin-top: -0.1875rem;
    }
	#gallery .thumbnail:nth-of-type(10n) {
		margin-right: 0;
	}
	#gallery .thumbnail:nth-child(10),#gallery .thumbnail:not(.add-new-item):last-of-type {
		border-top-right-radius: 0.3125rem;
	}
	#gallery .thumbnail.add-new-item {
		margin-right: 0;
		border-top-left-radius: 0.3125rem;
	}
	.logged-in-subheader {
		padding: 3.75rem 0 5rem;
		color: #fff;
		background: #2296F3;
		margin-bottom: 3.75rem;
		display: block;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.logged-in-subheader .logged-in-page-name {
		font-size: 1.125rem;
		text-align: center;
		display: block;
	}
	.logged-in-subheader .logged-in-page-desc {
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		display: block;
		margin-top: 0.875rem;
	}
	.banner-footer-wrapper {
		display: table;
		width: 100%;
	}
	span.banner-footer-text {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}

figure {
	margin: 0;
}

#gallery .thumbnail>img {
	border: none;
	max-width: 100%;
	height: auto;
	display: block;
	z-index: 100000;
}

@media handheld , only screen and (min-width: 992px) {
	.banner-video-footer {
		padding: 0.9375rem 10% 0.9375rem;
	}
	.page-section-wrapper {
		padding: 3.125rem 10%;
		    width: 80%
	}
	.textual-page-section-wrapper, .video-container, .page-image-container {
	padding: 0;
    }
}
